html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.container{
    width: 100vw;
    height: 100vh;
    background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.result{
    font-size: 3rem;
    padding: 2rem;
    text-align: left;
    margin-bottom: 1rem;
}

input{
    font-size: 3rem;
    border: 0;
    border-radius: 0.2rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.buttons{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    gap: 1rem;
}

.btn-row{
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 1rem;
    
}

.btn{
    flex: 1;
    font-size: 1.8rem;
    aspect-ratio: 1;
}