html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.container{
    width: 100vw;
    height: 100vh;
    background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.result{
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem;
    padding-bottom: 1.2rem;
    text-align: left;
    width: 36.5rem;
}

input{
    font-size: 3rem;
    border: 0;
    border-radius: 0.2rem;
    padding: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.buttons{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 0;
    gap: 0.4rem;
}

.btn-row{
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 0.4rem;
}

.btn{
    flex: 1;
    font-size: 2rem;
    aspect-ratio: 1;
    background: rgb(151, 209, 229);
    border-radius: 3px;
}